<ng-container *ngIf="haveAppointments">
    <h2> You can not edit because there are scheduled appointments for this day.</h2>
</ng-container>

<ng-container *ngIf="!haveAppointments">
    <h1 *ngIf="!editMode" mat-dialog-title>Create {{data.createWorkingDay}} as Working Day</h1>
    <h1 *ngIf="editMode" mat-dialog-title>Update {{data.day?.date}} </h1>

    <mat-dialog-content>

        <form [formGroup]="form">
            <section class="workTimeSection">
                <h3>Work time </h3>

                <mat-form-field appearance="outline">
                    <mat-label>Open at</mat-label>
                    <input matInput [format]="24" [ngxTimepicker]="openAt" formControlName="opens" readonly>
                    <ngx-material-timepicker #openAt [minutesGap]="15">
                    </ngx-material-timepicker>
                    <mat-error *ngIf="form.controls.opens.errors?.required && (form.dirty || form.touched)">
                        Field is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Close at</mat-label>
                    <input matInput [format]="24" [ngxTimepicker]="closeAt" formControlName="closes" readonly>
                    <ngx-material-timepicker #closeAt [minutesGap]="15">
                    </ngx-material-timepicker>
                    <mat-error *ngIf="form.controls.closes.errors?.required && (form.dirty || form.touched)">
                        Field is required
                    </mat-error>
                </mat-form-field>

                <mat-error *ngIf="form.errors?.compareDateTime && (form.touched || form.dirty)">
                    Close at must be greather than open at
                </mat-error>

            </section>
        </form>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" mat-stroked-button mat-dialog-close>Cancel</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button *ngIf="editMode" type="button" mat-stroked-button color="warn" [mat-dialog-close]="{dayOff: true}">
            <span>Day off</span>
        </button>
        <button type="button" mat-stroked-button color="primary" [disabled]="form.invalid"
            [mat-dialog-close]="form.value">
            <span *ngIf="!editMode">Create</span>
            <span *ngIf="editMode">Update</span>
        </button>
    </mat-dialog-actions>
</ng-container>