<mat-card class="centerCard">

    <mat-card-header>
        <mat-card-title *ngIf="!id">Create Service</mat-card-title>
        <mat-card-title *ngIf="id">Edit Service</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card-content>

            <div class="container">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-error align="end" *ngIf="form.controls.name.errors?.required">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input type="text" matInput formControlName="description">
                    <mat-error align="end" *ngIf="form.controls.name.errors?.required">
                        Description is <strong>required</strong>
                    </mat-error>
                </mat-form-field> -->

                <mat-form-field appearance="outline">
                    <mat-label>Price</mat-label>
                    <input type="number" matInput formControlName="price">
                    <mat-error align="end" *ngIf="form.controls.name.errors?.required">
                        Price is <strong>required</strong>
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Duration</mat-label>
                    <input type="number" readonly matInput formControlName="duration">
                    <mat-error align="end" *ngIf="form.controls.name.errors?.required">
                        Duration is <strong>required</strong>
                    </mat-error>
                </mat-form-field>


                <mat-chip-list #chipList [multiple]="false" [selectable]="true">
                    <mat-chip *ngFor="let item of durations" #chip="matChip" (click)="chip.toggleSelected()"
                        [selected]="item.selected" [selectable]="true" (selectionChange)="onChipSelected($event, item)">
                        {{item.duration | minutesToHours}}
                    </mat-chip>
                </mat-chip-list>

            </div>


        </mat-card-content>
        <mat-card-actions align="end">
            <a type="submit" mat-raised-button [routerLink]="['/admin','services']"
                routerLinkActive="router-link-active">Cancel</a>
            <button *ngIf="!id" type="submit" mat-raised-button color="primary"
                [disabled]="form.invalid">Create</button>
            <button *ngIf="id" type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Update</button>

        </mat-card-actions>
    </form>
</mat-card>