<mat-card class="centerCard">
    <mat-card-header>
        <mat-card-title>Create Appointment</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form">

        <mat-card-content>

            <mat-horizontal-stepper linear #stepper (selectionChange)="stepperChanged($event)">
                <mat-step [stepControl]="form.controls.service_ids" [editable]="true">
                    <ng-template matStepLabel>Select services</ng-template>

                    <mat-selection-list (selectionChange)="selectionChanged($event)">
                        <mat-list-option [value]="service.id" *ngFor="let service of serviceList">
                            {{service.name }} - {{service.duration}} min
                        </mat-list-option>
                    </mat-selection-list>



                    <div class="stepperActions">
                        <button type="button" mat-stroked-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="form.controls.start" [editable]="true">
                    <ng-template matStepLabel>Pick date from Calendar</ng-template>

                    <mat-grid-list cols="3" rowHeight="4:1">
                        <mat-grid-tile>
                            <ng-container *ngIf="view === CalendarView.Month">
                                <button type="button" mat-raised-button color="primary" mwlCalendarPreviousView
                                    [view]="view" [(viewDate)]="viewDate" (viewDateChange)="onViewDateChange()">
                                    <mat-icon>chevron_left</mat-icon>
                                </button>
                                <button type="button" mat-stroked-button color="primary" mwlCalendarToday
                                    [(viewDate)]="viewDate" (viewDateChange)="onViewDateChange()">
                                    Today
                                </button>
                                <button type="button" mat-raised-button color="primary" mwlCalendarNextView
                                    [view]="view" [(viewDate)]="viewDate" (viewDateChange)="onViewDateChange()">
                                    <mat-icon>chevron_right</mat-icon>
                                </button>
                            </ng-container>
                            <button *ngIf="view === CalendarView.Day" mat-raised-button color="primary"
                                (click)="setView(CalendarView.Month)">
                                Back to Month view
                            </button>

                        </mat-grid-tile>
                        <mat-grid-tile>
                            <h3><strong>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</strong></h3>

                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-chip-list>
                                Appointment duration:
                                <mat-chip color="primary" selected>{{totalDuration}} min</mat-chip>
                            </mat-chip-list>
                        </mat-grid-tile>
                    </mat-grid-list>


                    <div [ngSwitch]="view">
                        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
                            [events]="events" [refresh]="refresh" [weekStartsOn]="1" (dayClicked)="changeDay($event)"
                            (beforeViewRender)="beforeMonthViewRender($event)">
                        </mwl-calendar-month-view>

                        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                            [refresh]="refresh" [hourSegments]="4" [dayStartHour]="dayStartHour"
                            [dayEndHour]="dayEndHour" (hourSegmentClicked)="slotClicked($event.date) "
                            (beforeViewRender)="beforeDayViewRender($event)">
                            >
                        </mwl-calendar-day-view>

                    </div>


                    <div class="stepperActions">
                        <button type="button" mat-stroked-button matStepperPrevious>Back</button>
                        <button type="button" mat-stroked-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <mat-card class="appointmentCard">
                        <mat-card-header>
                            <mat-card-title>
                                <h3>Check the following information, then create the appointment.</h3>
                                {{form.get('start')?.value}}
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-chip-list>
                                <mat-chip *ngFor="let service of selectedServices"> {{service.name}} -
                                    {{service.duration}} min</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>
                    </mat-card>
                    <div class="stepperActions">
                        <button type="button" mat-stroked-button matStepperPrevious>Back</button>
                        <!-- <button type="button" mat-stroked-button (click)="resetStepper()">Reset</button> -->
                        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid"
                            (click)="create()">Create
                            Appointment</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>





        </mat-card-content>
        <!-- <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" (click)="create()">Create
                Appointment</button>
        </mat-card-actions> -->
    </form>
</mat-card>