.main-container {
    width: 100%;
    height: calc(100% - 64px);
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .main-sidenav-content {
    display: flex;
    height: 100%;
    /* align-items: center; */
    /* justify-content: center; */
  }
  
  .main-sidenav {
    padding: 20px;
  }

  .mat-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }