mat-card {
    max-width: 480px;
    height: auto;
    text-align: center;
}
::ng-deep .mat-card-header-text{
    width: 100%;
    margin-bottom: 36px !important;
    /* background-color: red; */
}

mat-card mat-card-content mat-form-field {
    margin: 20px 0;
}

mat-form-field {
    display: block;
}

#loginBtn {
    width: 100%;
}
